/* button{
    position: absolute;
   left: 500px;
    
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(73, 182, 250);

    color: azure;

}



/*  */
a{ 
    color: rgb(255, 255, 255);
} 


body {
    background-image: url("https://img.freepik.com/free-photo/pieces-blue-stationery_23-2148169528.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default body margin */
}

h1 {
    color: rgb(155, 99, 26);
    text-align: center; /* Center align text */
    margin-left: 300px; /* Adjust margin as needed */
}


h6{
    color: rgb(5, 6, 7);
    text-align: center; /* Center align text */
    margin-left: 300px; /* Adjust margin as needed */
}
button {
    background-color: rgb(73, 182, 250);
    color: azure;
    padding-left: 50px; /* Adjust padding as needed */
    padding-right: 50px;
    left: 700px;
    position: absolute;
    font-size: 16px; /* Adjust font size as needed */
    border: none;
    cursor: pointer;
}


